<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.hiking.bubblelogger">

	<application>
		<activity
			android:name=".screen.BubbleActivity"
			android:allowEmbedded="true"
			android:documentLaunchMode="always"
			android:resizeableActivity="true"
			android:theme="@style/BubbleTheme" />
	</application>
</manifest>
